<div class="card shadow col-lg-5 col-md-6 col-sm-10 col-xs-10 mx-auto  my-3">
  <div class="font-weight-bold text-center">
    <div @fade class="d-flex justify-content-center py-3 logo">
      <img class="my-3" src="../../../assets/imgs/capco_white.png" alt="Card image cap" />
    </div>
  </div>
  <div class="card-header text-center">
    <h4><b>Forgot Password?</b></h4>
  </div>
  <div class="card-body">
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="submit()">
      <div class="form-group">
        <label for="email">Capco's Email Address</label>
        <input id="email" formControlName="email" type="email" class="form-control" required [ngClass]="applyClass(email)" />
        <div id="email-error" class="invalid-feedback" *ngIf="email.errors">
          <span *ngIf="email.errors.required">
            This field is required
          </span>
          <span *ngIf="email.errors.pattern">
            Email should contain Firstname.Lastname@capco.com
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="selectQuestion">Security Questions</label>
        <select id="selectQuestion" [ngModelOptions]="{ standalone: true }" name="selectQuestion" class="form-control"
          required [(ngModel)]="questions">
          <option value="firstCompany">What is your First Company Name?</option>
          <option value="dob">What is your Date of Birth?</option>
          <option value="maidenName">What is your Maidens Name?</option>
        </select>
      </div>

      <div class="form-group">
        <label for="selectQuestion">Answer</label>
        <input id="answer" name="answer" class="form-control" formControlName="answer" [ngClass]="applyClass(answer)"
          [type]="questions == 'dob' ? 'date' : 'text'" required />
        <div id="answer-error" class="invalid-feedback" *ngIf="answer.errors">
          <span *ngIf="answer.errors.required">
            This field is required
          </span>
          <span *ngIf="answer.errors.maxlength">
            Minimum of 50 characters.
          </span>
          <span *ngIf="answer.errors.cannotContainSpace">
            {{ answer.errors.cannotContainSpace }}
          </span>
          <span *ngIf="answer.errors.checkAge">
            {{ answer.errors.checkAge }}
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="password">New Password:</label>
        <div class="input-group">
          <input id="password" formControlName="password" [type]="!showPass ? 'password' : 'text'" class="form-control"
            [ngClass]="applyClass(password)" required />
          <div class="input-group-append" (click)="show()">
            <div class="input-group-text">
              <i class="fa fa-eye" aria-hidden="true"></i>
            </div>
          </div>
          <div id="password-error" class="invalid-feedback" *ngIf="password.errors">
            <span *ngIf="password.errors.required">
              This field is required
            </span>
            <span *ngIf="password.errors.minLength">
              Minimum 6 characters is required
            </span>
            <span *ngIf="password.errors.maxLength">
              Maximum 15 characters only
            </span>
            <span *ngIf="password.errors.pattern">
              Min 6 characters and Max 15 characters,at least one Upper Case,at
              least one lower case and special characters(! @ # $ % ^ & *).
            </span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <button id="forgot-update" [disabled]="forgotPasswordForm.invalid" type="submit" class="btn btn-dark btn-block shadow">
            Update
          </button>
        </div>
        <div class="col-6">
          <button id="forgot-cancel" class="btn  btn-light btn-block shadow" type="button" routerLink="/login"
            routerLinkActive="active">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>