.card {
  padding: 0px;
}

.tile-box {
  line-height: inherit;
  display: block;
  position: relative;
  width: 100% !important;
  height: auto;
  padding: 1%;
  text-align: center;
  border-width: 0px;
  border-style: solid;
  background: linear-gradient(to right, #343a40, lightgray);
  color: white;
  font-size: 18px;
}

.txt {
  vertical-align: 20%;
  display: inline-block;
}

.sidenav {
  height: 100%;
  // background-color: #f1f1f1;
}
