
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #343a40;
}

a {
  color: gray;
}

.logo{
  background-color: #343a40;
  img{
    height: 130px;
    width: 247px;
  }
}

.card{
  padding: 0px
}
