<div class="card shadow col-lg-5 col-md-6 col-sm-10 col-xs-10 mx-auto my-3">
  <div @fade class="d-flex justify-content-center py-3 logo ">
    <img class="my-3 " src="../../../assets/imgs/capco_white.png" alt="Card image cap">
  </div>
  <div class="card-header">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link shadow-sm" [routerLink]="['/login']" routerLinkActive="active">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link shadow-sm" [routerLink]="['/register']" routerLinkActive="active">Register</a>
      </li>
    </ul>
  </div>
  <div class="card-body mx-3">
    <router-outlet></router-outlet>
  </div>
</div>